
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Sales/Views/Shared/_Layout.cshtml";
}

@{
    if (ViewBag.is_logined == 1)
    {
        <!--Body Content-->
        <div id="page-content">
            <!--Page Title-->
            <div class="page section-header text-center">
                <div class="page-title">
                    <div class="wrapper"><h1 class="page-width">Đổi mật khẩu</h1></div>
                </div>
            </div>
            <!--End Page Title-->

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <strong>Thông tin chi tiết </strong>
                    </div>
                    <form method="post" action="#">
                        <div class="card-body card-block">
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label class=" form-control-label">Mật khẩu cũ</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="password" id="old_password" name="id" value="Nhập mật khẩu cũ" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label class=" form-control-label">Mật khẩu mới</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="password" id="new_password" name="name" value="Nhập mật khẩu mới" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label class=" form-control-label">Xác nhận mật khẩu</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="password" id="new_password2" name="username" value="Xác nhận mật khẩu" class="form-control">
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="button" onclick="Change_Password()" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Đổi mật khẩu
                            </button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
        <!--End Body Content-->
    }
    else
    {
        <h1>Bạn chưa đăng nhập, không thể xem thông tin khách hàng</h1>
        <a href="~/Sales/Login/Login">Đăng nhập ngay</a>
    }
}



