
@model WebShop.Models.MEMBER
@{ ViewBag.Title = "Change_Password";
    Layout = "~/Areas/Sales/Views/Shared/_Layout.cshtml"; }

@{ if (ViewBag.is_logined == 1)
                { <!--Body Content-->
                                    <div id="page-content">
                                        <!--Page Title-->
                                        <div class="page section-header text-center">
                                            <div class="page-title">
                                                <div class="wrapper"><h1 class="page-width">Đổi mật khẩu</h1></div>
                                            </div>
                                        </div>
                                        <!--End Page Title-->

                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                                            <div class="card">
                                                <div class="card-header">
                                                    <strong>Thông tin chi tiết </strong>
                                                </div>

                                                <div class="card-body card-block">
                                                    <div class="row form-group">
                                                        <div class="col col-md-3">
                                                            <label class=" form-control-label">Mật khẩu cũ</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <input type="password" id="old_password" required name="old_password" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3">
                                                            <label class=" form-control-label">Mật khẩu mới</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <input type="password" id="new_password" required name="new_password" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3">
                                                            <label class=" form-control-label">Nhập lại mật khẩu mới</label>
                                                        </div>
                                                        <div class="col-12 col-md-9">
                                                            <input type="password" id="confirm_password" required name="confirm_password" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div>
                                                        <label id="fall_changepass"></label>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <button id="Change_Password" onclick="Change_Password(@Model.member_id)" type="submit" class="btn btn-primary btn-sm">
                                                        <i class="fa fa-dot-circle-o"></i> Đổi mật khẩu
                                                    </button>
                                                    <button id="Quaylai" type="submit" class="btn btn-primary btn-sm">
                                                        <i class="fa fa-dot-circle-o"></i> Quay lại
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div> <!--End Body Content--> }
                                                else
                                                {
                                                    <h1>Bạn chưa đăng nhập, không thể xem thông tin khách hàng</h1>
                                                    <a href="~/Sales/Login/Login">Đăng nhập ngay</a>
                                                }
}

<script>
    $("#Quaylai").click(function () {
        window.location = '/Sales/UserInformation/UserInformation'
    });

    function Change_Password(id) {
        debugger;
        var old_pass = $("#old_password").val();
        var new_pass = $("#new_password").val();
        var confirm_password = $("#confirm_password").val();
        if (old_pass == '' || new_pass == '') {
            alert('Chưa nhập đủ thông tin');
        }
        else {
            var form = new FormData();
            form.append('old_pass', old_pass);
            form.append('new_pass', new_pass);
            form.append('confirm_password', confirm_password);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/UserInformation/Change_Password', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var content = xhr.responseText;
                    var json = JSON.parse(content);

                    if (json.Data.status == "OK") {
                        alert("Đổi mật khẩu thành công! Vui lòng đăng nhập lại!");
                        window.location = '/Sales/Login/Login';
                    }
                    else if (json.Data.status == "Fall_oldpass") {
                        $("#old_password").val('');
                        $("#new_password").val('');
                        $("#confirm_password").val('');
                        $("#fall_changepass").html("Mật khẩu cũ không chính xác!");
                        $("#fall_changepass").css("color","red")

                    }
                    else if (json.Data.status == "Fall_confirm") {
                        $("#old_password").val('');
                        $("#new_password").val('');
                        $("#confirm_password").val('');
                        $("#fall_changepass").html("Mật khẩu không khớp!");
                        $("#fall_changepass").css("color", "red")
                    }

                }
            }
            xhr.send(form);
        }

    }
</script>